html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    background-color: #0f0f0f;
}
.hero-content{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 20%;
}

.hero-content div h1{
    font-size: 3rem;
    font-family: 'Cubano', sans-serif;
    color: white;
    line-height: 1;
}

.hero-content div button{
    font-size: 0.75rem;
    font-weight: 700;
    color: #b2becd;
    line-height: 1; 
    padding: 0.75rem;
    width: 6rem;
    margin-top: 2rem;
    margin-right: 1rem;
    border: 2px #c3073f solid;
    transform: skewx(-10deg);
    transition: 0.5s;
    border-radius: 5px;
    
}


.hero-content div button:hover{
    color: white;
    background-color: #c3073f;
}

.hero-content div h2{
    font-size: 1.5rem;
    font-family: 'Sofia Pro', sans-serif;
    color: #b2becd;
    line-height: 2rem;
    letter-spacing: 1px;
}

.nav{
    display: block;
    display: flex;
    margin-top: 10px;
    gap: 60%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.nav .logo{
    margin-left: 2%;
    font-size: 1.8rem;
    color: white;
    line-height: 1rem;
    font-family: 'Cubano' , sans-serif;
}
.nav ul{
    list-style-type: none;
}
.nav ul li{
    float: left;
}

.nav ul li a{
    position: relative;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-family: 'Sofia pro' , sans-serif;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.5s;
}

.nav ul li a:hover{
    color: #c3073f;
}

@media only screen and (max-width : 600px){
    .nav{
        float: 50%;
        gap: 4%;
    }
    .nav{
        width: 90%;
        margin-left: 5%;
    }

    .hero-content{
        flex-direction: column-reverse;
        width: 100vw;
        padding: 20px;
        justify-content: top;
        text-align: left;

    }
    .hero-content img{
        display: none;
    }
    .hero-content div h1{
        font-size: 2.5rem;
    }

    .hero-content div h2{
        font-size: 1.25rem;
    }

    .hero-content div button{
        width: 40%;
    }

    
}