*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
:root{
    --bg-color : #1a1a1d;
    --particle-bg-color : #08080a;
    --text-color : #c3073f;
    --light-text-color : #ff4e83;
}

body{
    background-color: #1a1a1d;
    color: white;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/*.navigation Bar*/

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin-left: 50px ;
    margin-right: 100px ;
    margin-top: 25px ;
}

.nav h1{
    font-size: 30px;
}

.avatar{
    width: 40%;
    border-radius: 50%;
    background-color: var(--text-color);
    transition: 0.2s;
}

.avatar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav a{
    font-size: 1rem;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 2.5rem;
    text-decoration: none;
    color: white;
}

.active {
    font-size: 1rem;
    transition: 0.5s;
    padding-left: 2.5rem;
    color: var(--text-color);
}


.nav .icon {
    display: none;
}

.nav a .active :hover{
    color: white;
}

.nav a:hover{
    color: var(--text-color);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
  }
  

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    padding: 3rem;
    text-align: center;
    justify-content: center;
    color: #818181;
    display: block;
    align-items: center;
    transition: 0.3s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/*Ovvvvvvvvvvvvvvvvvvvvvvvvvvvvver*/


.main-content {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.name{
    font-size: 4rem;
}

#typing-stuff {
    color: var(--text-color);
}

#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
    transition: opacity 0.8s ease, transform 1.4s ease;
}
  
#particles-js {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    top: 0;
}

.socials{
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: 0.3s;
}
.socials :hover{
    color: var(--light-text-color);
}



.about-me{
    margin-top: 50px;
    width: 50%;
    border-radius: 10px;
    height: auto;
    padding: 5px;
    padding-bottom: 50px;
    text-align: left;
    background-color: #333333;
}

.about-me h1{
    padding:30px;
}

.about-me p{
    font-size: 18px;
    padding-top:10px;
    padding-left:30px;
    font-family: sans-serif;
}

.link-about{
    color: var(--light-text-color);
    text-decoration: none;
}


.projects-holder{
    display: flex;
    justify-content: space-between;
}


.projects-card{
    background-color: #ff4e83;
    padding: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .nav a{display: none;}
    .nav a.icon {
      float: right;
      display: block;
      font-size: 30px;
      color: var(--text-color);
    }
    .nav{
        margin-left: 15px ;
        margin-right: 15px ;
    }
    
}



@media only screen and (max-width: 600px) {
    .new-nav {
      flex-direction: column;
    }
    .new-nav ul {
      flex-direction: column;
      padding-top: 0.5rem;
    }
    .new-nav li {
      padding: 0.5rem 0;
    }
    .name{
        font-size: 30px;
    }
    .about-me{
        width: 70%;
    }
  } 

