*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
:root{
    --bg-color : #1a1a1d;
    --particle-bg-color : #08080a;
    --text-color : #c3073f;
    --light-text-color : #ff4e83;
}

body{
    background-color: #1a1a1d;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/*.navigation Bar*/

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin-left: 50px ;
    margin-right: 100px ;
    margin-top: 25px ;
}

.nav h1{
    font-size: 30px;
}



.nav ul{
    display: flex;
    list-style: none;
}

.nav a{
    font-size: 1rem;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 2.5rem;
    text-decoration: none;
    color: white;
}

.active {
    font-size: 1rem;
    transition: 0.5s;
    padding-left: 2.5rem;
    color: var(--text-color);
}


.nav .icon {
    display: none;
}

.nav a .active :hover{
    color: white;
}

.nav a:hover{
    color: var(--text-color);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.1s;
  }
  

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    padding: 3rem;
    text-align: center;
    justify-content: center;
    color: #818181;
    display: block;
    align-items: center;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/*Ovvvvvvvvvvvvvvvvvvvvvvvvvvvvver*/


.main-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.name{
    font-size: 4rem;
}

#typing-stuff {
    color: var(--text-color);
}

#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
    transition: opacity 0.8s ease, transform 1.4s ease;
}
  
#particles-js {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    top: 0;
}





.about-me{
    margin-top: 50px;
    width: 50%;
    border-radius: 10px;
    height: auto;
    padding: 5px;
    padding-bottom: 50px;
    text-align: left;
    background-color: #333333;
}


.skills-container{
    margin-top: 100px;
    width: 50%;
    border-radius: 10px;
    height: auto;
    padding: 10px;
    padding-bottom: 50px;
    text-align: left;
    background-color: #333333;
}


.skill-content{
    margin-left: 30px;
    padding: 1px;
    background-color: var(--bg-color);
    border-radius: 50px;

}

.skills-container p{
    padding-bottom: 5px;
}


.skills{
    padding-left: 10px;
    text-align: center;
    color: var(--bg-color);
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.percent{
    text-align: right;
}

.python{
    width: 75%;
    background-color: var(--light-text-color);;
    border-radius: 50px;
    font-size: 2px;
    color: var(--text-color);;
}

.js{
    width: 25%;
    background-color: var(--light-text-color);
    color: var(--light-text-color);;
    border-radius: 50px;
    font-size: 2px;
}
.gra{
    width: 55%;
    background-color: var(--light-text-color);
    color: var(--light-text-color);;
    border-radius: 50px;
    font-size: 2px;
}

.react{
    width: 35%;
    background-color: var(--light-text-color);
    color: var(--light-text-color);;
    border-radius: 50px;
    font-size: 2px;
}

.html{
    width: 85%;
    background-color: var(--light-text-color);;
    color: var(--light-text-color);;
    border-radius: 50px;
    font-size: 2px;

}

.skills-container h1{
    padding:30px;
}

.skills-container p{
    font-size: 18px;
    padding-top:30px;
    padding-left:30px;
    font-family: sans-serif;
}


.about-me h1{
    padding:30px;
}



.about-me p{
    font-size: 18px;
    padding-top:10px;
    padding-left:30px;
    font-family: sans-serif;
}

.link-about{
    color: var(--light-text-color);
    text-decoration: none;
}


.projects-container{
    margin-top: 50px;
    width: 50%;
    border-radius: 10px;
    height: auto;
    padding: 5px;
    padding-bottom: 50px;
    text-align: left;
    background-color: #333333;
}



.projects-container h1{
    padding:30px;
}



.projects-container p{
    font-size: 18px;
    padding-top:10px;
    padding-left:30px;
    font-family: sans-serif;
}


.project-holder-right{
    width: 100%;
    height: 150px;
    flex: 50%;
    display: flex;
    position: relative;
    align-items: center;
    margin: 10px;
    position: relative;
    justify-content: center;

}

.project-holder-right img{
    width: 100%;

    background-size: cover;
    height: 100%;
    border-radius: 10px;
}

.project-holder-left{
    width: 100%;
    height: 150px;
    flex: 50%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
}

.project-holder-left img{
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    border-radius: 10px;

}

.overlay{
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    transition: .5s;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
}

.overlay button {
    cursor: pointer;
    padding: 10px;
    background-color:var(--light-text-color);
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}


.project-holder-left:hover .overlay{
    opacity: 1;
}
.project-holder-right:hover .overlay{
    opacity: 1;
}



.grid-1{
    display: flex;
    flex-direction: row;
}

.grid-2{
    display: flex;
    flex-direction: row;
}




.contact-container{
    margin-top: 100px;
    width: 50%;
    border-radius: 10px;
    height: auto;
    padding: 5px;
    padding-bottom: 50px;
    text-align: left;
    background-color: #333333;
}

.contact-container h1{
    padding:30px;
}


.input{
    margin-left: 30px;
    padding: 20px;
    margin-top: 10px;
    outline: none;
    color: #c3073f;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}


.long{
    width: 80%;
}
.email{
    width: 50%;
    margin-left: 10px;
}

.textarea{
    height: 200px;
}

.name-email{
    display: flex;
    flex-direction: row;
}

.send{
    background-color: var(--light-text-color);
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: 30px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 30px;
}


.contact-container p{
    padding-top:10px;
    padding-left:30px;
    font-family: sans-serif;
    padding-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    .nav a{display: none;}
    .nav a.icon {
      float: right;
      display: block;
      font-size: 30px;
      color: var(--text-color);
    }
    .nav{
        margin-left: 15px ;
        margin-right: 15px ;
    }
    .new-nav {
      flex-direction: column;
    }
    .new-nav ul {
      flex-direction: column;
      padding-top: 0.5rem;
    }
    .new-nav li {
      padding: 0.5rem 0;
    }
    .name{
        font-size: 30px;
    }
    .about-me{
        width: 90%;
    }
    .skills-container{
        width: 90%;
    }
    .about-me p{
        font-size: 18px;
        padding-top:10px;
        padding-left:20px;
        font-family: sans-serif;
    }
    .skills-container p{
        font-size: 18px;
        padding-top:30px;
        padding-left:0px;
        font-family: sans-serif;
    }
    .skill-content{
        margin: 0;
    }
    .projects-container{
        width: 90%;
        margin-top: 150vh;
    }

    .grid-1{
        flex-direction: column;
    }
    .grid-2{
        margin-top: 5%;
        flex-direction: column;
    }
    .project-holder-left{
        width: 95%;
    }
    .project-holder-right{
        width: 95%;
    }
    .project-holder-left img{
        width: 100%;
        position: relative;
        height: 150px;
    }
    .project-holder-right img{
        width: 100%;
        position: relative;
        height: 150px;
    }
    .name-email{
        display: flex;
        flex-direction: column;
    }
    .contact-container{
        width: 90%;
        margin-top: 250vh;
    }
    .contact-container .input{
        margin-left: 00px;
    }
    .email{
        width: 88%;
    }
    .long{
        width: 88%;
    }
    .send{
        margin-left: 30%;
    }
  } 

