html{
    scroll-behavior: smooth;
}


.about-me{
    display: flex;
    height: max-content;
    margin-top: 10rem;
    align-items: center;
    flex-direction: column;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.about-me h1{
    color: #c3073f;
    font-family: 'Cubano' ,sans-serif;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 2rem;
}

.about-me div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    width: 85%;
}


.about-me div h2{
    font-size: 1.5rem;
    font-family: 'Sofia Pro', sans-serif;
    color: #b2becd;
    line-height: 2rem;
}

.nav{
    display: flex;
    margin-top: 10px;
    gap: 60%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.nav .logo{
    margin-left: 2%;
    font-size: 1.8rem;
    color: white;
    line-height: 1rem;
    font-family: 'Cubano' , sans-serif;
}
.nav ul{
    list-style-type: none;
}
.nav ul li{
    float: left;
}

.nav ul li a{
    position: relative;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-family: 'Sofia pro' , sans-serif;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.5s;
}

.nav ul li a:hover{
    color: #c3073f;
}

@media only screen and (max-width : 600px){
    .nav{
        float: 50%;
        gap: 4%;
    }
    .nav{
        width: 90%;
        margin-left: 5%;
    }
    .hero-content{
        flex-direction: column-reverse;
        width: 100vw;
        padding: 10px;

    }
    .hero-content img{
        display: none;
    }
    .hero-content div h1{
        font-size: 2.5rem;
    }

    .hero-content div h2{
        font-size: 1.25rem;
    }

    .hero-content div button{
        width: 40%;
    }

    .about-me{
        gap: 0;
        height: max-content;
    }
    .about-me div{
        padding: 7px;
        flex-direction: column-reverse;
        width: 100%;
    }

    .about-me div img{
        width: 100%;
    }

    .about-me h1{
        font-size: 2rem;
    }

    .about-me div h2{
        font-size: 1.25rem;
    }

    .skill-sec h1{
        font-size: 2rem;
    }
    .skill-sec{
        height: max-content;
        padding-bottom: 1rem;
    }
    .skill-sec div{
        flex-direction: column;
    }
    .skill-sec .skill-card{
        width: 100%;
    }
}